.DS_Store
node_modules
/build
/.svelte-kit
/package
# Local files, shouldn't be checked in and instead should automatically be uploaded to the CDN
/static/content-photos
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
